<!-- <p>saludo works!</p> -->
<!-- ngClass es una propiedad que permite dar valor literal o poner valores del controlador -->
<span ngClass="saludo">Welcome {{ nombre }} </span>
<span [ngClass]="nombreUsuario == '@Irene' ? 'userYes':'userNo'"> with user {{ nombreUsuario }} !</span>

<!-- estilo inyectado directamente -->
<p [ngStyle]="{color:'orange'}"> Style example</p>
<!-- usando un estilo objeto -->
<p [ngStyle]="myStyle"> Style example object</p>

<!-- innerText es el valor que se establece entre las etiquetas --> 
<!-- seria igual que poner {{nombreUsuario}} dentro de la etiqueta -->
<h3 id="usuario" [innerText]="nombreUsuario">
    <!-- no indicamos nada en las etiquetas , si no que el valor viene definido por la propiedad -->
</h3>

<!-- boton con logica de evento click-->
<button id="buttonAlert" (click)="alertaSaludo()">Show Alert</button>

<!-- boton con logica de evento click para output-->
<button id="buttonOutput" (click)="enviarMensajeAlPadre()">Send to parent</button>

